.nav {
    list-style: none;

    @include breakpoint(medium) {
        display: flex;
    }
    
    &__item {
        margin: rem-calc(0 10px);
        a {
            padding: rem-calc(10px);
            display: block;
        }
    }
    
    &-container{
        &.is-open {
            @include breakpoint(small only) {
                .nav-wrapper {
                    width: rem-calc(250px);
                }

                .offcanvas-overlay {
                    width: 100%;
                    opacity: 0.8;
                }
            }
            
        }
    }

    &-wrapper {
        @include breakpoint(small only) {
            background: $black;
            position: fixed;
            z-index: 4;
            width: 0;
            height: 100%;
            right: 0;
            top: 0;
            overflow: hidden;
            transition: 0.5s;
        }
    }
}

.menu-icon {
    width: rem-calc(34px);
    @extend .show-for-small-only ;
}
.offcanvas-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    
}